<div class="order-details" *ngIf="order">
  <h2>Детали заказа №{{ order.id }}</h2>

  <div class="order-info">
    <p><strong>ID покупателя:</strong> {{ order.customerId }}</p>
    <p><strong>Дата:</strong> {{ formatDateTime(order.dateTime) }}</p>
    <p><strong>Общая сумма:</strong>{{ formatCurrency(order.totalAmount) }}</p>
    <p><strong>Адресс доставки:</strong> {{ order.orderAddress }}</p>
  </div>

  <h3>Состав заказа</h3>
  <table>
    <thead>
      <tr>
        <th>ID продукта</th>
        <th>Колличество</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order.items">
        <td>{{ item.productId }}</td>
        <td>{{ item.quantity }}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="router.navigate(['/orders'])" class="back-btn">
    <i class="fas fa-arrow-left"></i> Вернуться к заказам
  </button>
</div>

